<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      <br>
      URL:   <%= link.url %>
      <br>
      Tags: <% link.tags.each do |t| %><%= t.name %> <% end %>
    </li>
  <% end %>
</ul>
