<h1> Links </h1>

<% if current_user %>
  Hi, <%= current_user.email %>
<% end %>

<form action='/links/:name' />Filter by: <input type='text' name='name' /> </form>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      <br>
      URL:   <%= link.url %>
      <br>
      Tags: <%= link.tags.map(&:name) %>
    </li>
  <% end %>
</ul>
